
.personalCard {
    background-color: rgb(52, 157, 153);
    color: white;
}

.whitePersonalCard {
    color: rgb(52, 157, 153);
}

.dayTime {
    max-height: 100px;
}

.verticalHr { 
    border-left:    4px solid white;
    height:         48px;
    width:          1px;       
}

.moreEventsBtn {
    cursor: pointer;
    margin: auto;
    padding: 1px;
    width: 50%;
    text-align: center;
}