.submit-button {
    border: none;
    display: inline;
    color : #836d6c;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #fae2c8;
}
.submit-button:hover {
    border: none;
    display: inline;
    color : #836d6c;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #e2ba8f;
}

.button {
    border: none;
    display: inline;
    color : white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
}

.warning-button {color: white;background-color: #ff9800;} /* Orange */
.warning-button:hover {background: #e68a00;}


.danger-button {color: white;background-color: #f44336;} /* Red */
.danger-button:hover {background: #da190b;}