.submit-button {
    border: none;
    display: inline;
    background-color: rgb(52, 157, 153);
    color : #fff;
    font-weight: bold;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
    margin: auto;
    justify-content: right;
}

.submit-button:hover {
    border: none;
    display: inline;
    color : #fff;
    background-color: rgb(38, 110, 108);
    padding: 14px 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    margin: auto;
    justify-content: right;
}


.button {
    border: none;
    display: inline;
    color : white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
}

.warning-button {color: white;background-color: #ff9800;} /* Orange */
.warning-button:hover {background: #e68a00;}


.danger-button {color: white;background-color: #f44336;} /* Red */
.danger-button:hover {background: #da190b;}